@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,600');
@import 'variables';
@import 'transitions';
@import 'loading.spinner';
@import 'mixins';

body {
    overflow: hidden;
}

#app {
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    @include scrollbars(.2em, $secondColor);
}

// JS class
.active {
    color: $mainColor;

    &:hover {
        color: white !important;
        background-color: mix($mainColor, white, 70%) !important;
    }
}

.more-info {
    position: absolute;
    height: 20vh;
    padding: 20px;
    top: 80vh;
    box-sizing: border-box;

    @include for-tablet {
        width: 99vw,
    }

    @include for-phone {
        width: 99vw,
    }

    @include for-desktop {
        width: 1024px;
    }

    @include box-shadow(0px, -2px, 15px, rgba(0, 0, 0, 0.034));
    background-color: white;

    .close-btn {
        position: absolute;
        width: 40px;
        height: 40px;
        font-size: 24px;
        top: 10%;
        
        border-radius: 3px;
        cursor: pointer;
        transition: background-color .1s ease-in-out, color .1s ease-in-out;

        @include for-tablet {
            left: 86%;
        }
    
        @include for-phone {
            left: 86%;
        }
    
        @include for-desktop {
            left: 92%;
        }

        &:hover {
            background-color: mix($mainColor, white, 70%);
            color: white;
        }
    }

    .avatar-container {
        @include for-tablet {
            margin: 0 25px;
        }
    
        @include for-phone {
            margin: 0 25px;
        }
        .avatar {
            font-size: 24px;

            @include for-tablet {
                width: 60px!important;
                height: 60px!important;
            }
        
            @include for-phone {
                width: 60px!important;
                height: 60px!important;
            }
        
            @include for-desktop {
                width: 70px !important;
                height: 70px !important;
            }
        }
    }


    .full-name {
        flex-grow: 1;
        // font-size: 22px !important;

        @include for-tablet {
            font-size: 16px !important;
        }
    
        @include for-phone {
            font-size: 16px !important;
        }
    
        @include for-desktop {
            font-size:22px !important;
        }
    }

    .place, .rating, .age, .uid {

        @include for-tablet {
            font-size: 16px !important;
        }
    
        @include for-phone {
            font-size: 16px !important;
        }
    
        @include for-desktop {
            font-size: 20px !important;
        }

        .article {

            @include for-tablet {
                font-size: 10px !important;
            }
        
            @include for-phone {
                font-size: 10px !important;
            }
        
            @include for-desktop {
                font-size: 12px !important;
            }
        }
    }
}

.rating-list {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0 auto;

    @include for-tablet {
        width: 99vw,
    }

    @include for-phone {
        width: 99vw,
    }

    @include for-desktop {
        width: 1024px;
    }

    div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .search {
        margin: 20px;
        
        i {
            font-size: 18px;
            margin-right: 10px;
        }

        input {
            border: none;
            outline: none;
            font-size: 20px

            
        }

        @include placeholder {
            font-weight: 100;
            color: rgb(0, 0, 0);
            font-weight:100;
        }
    }

    .controls {
        button {
            border: none;
            // padding: 13px 25px;
            margin: 0 10px;
            background-color: rgba(255, 255, 255, 0);
            text-transform: uppercase;
            border-radius: 1px;
            outline: none;
            cursor: pointer;
            transition: background-color .174s ease-in-out, color .174s ease-in-out;

            @include for-tablet {
                width: 100%;
                padding: 13px 15px;
                font-size: 16px;
            }
        
            @include for-phone {
                width: 100%;
                padding: 13px 15px;
                font-size: 16px;
            }
        
            @include for-desktop {
                padding: 13px 25px;
                width: 15%;
                font-size: 16px;
            }

            &:hover {
                background-color: rgba(0, 0, 0, 0.13);
            }
        }
    }

    ul {
        max-height: 70vh;
        padding: 0 !important;
        overflow: auto;

        li {
            list-style: none;
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            padding: 8px;
            cursor: pointer;
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
            transition: background-color .174s ease-in-out;

            &:hover {
                background-color: mix($secondColor, white,  50%);
                
            }
            
        }
    }

    .avatar-container {
        flex-basis: 10%;

        .avatar {
            background-color: $mainColor;
            box-sizing: border-box;
            border-radius: 50%;
            font-weight: 600;
            // flex-basis: 20%;
            position: relative;
            color: white;

            
            @include for-tablet {
                width: 50px;
                height: 50px;
            }
        
            @include for-phone {
                width: 50px;
                height: 50px;
            }
        
            @include for-desktop {
                width: 60px;
                height: 60px;
            }
        }
    }

    .firstPlace {
        @include box-shadow(0px, 0px, 10px, rgba(255, 238, 0, 0.808));
    }
    .secondPlace {
        @include box-shadow(0px, 0px, 10px, rgba(110, 110, 110, 0.808));
    }
    .thirdPlace {
        @include box-shadow(0px, 0px, 10px, rgba(255, 136, 0, 0.808));
    }

    .full-name, .rating, .age, .uid {
        font-weight: 600;
        font-size: 14px;
        flex-basis: 30%;
    }

    .place {
        font-weight: 600;
        font-size: 14px;
        flex-basis: 10%;
    }

    .place, .rating, .age, .uid {
        flex-direction: column;


        .article {
            font-size: 10px;
            color: grey;
            text-transform: uppercase;
        }
    }

    .age, .uid {
        @include for-tablet {
            display: none;
        }
    
        @include for-phone {
            display: none;
        }
    
        @include for-desktop {
            display: flex;
        }
    }
}


